.page.login {
  //noinspection SassScssResolvedByNameOnly
  background-color: $tertiary-color-light;
  display: grid;
  justify-content: center;
  height: 100vh;
  padding-top: 10rem;

  & > .signUp {

  }
  .login {
      .or {
        display: inline-block;
        text-align: center;
        position: relative;
        color: rgba($primary-color-light,0.8);
        &:before, &:after {
          content: '';
          position: absolute;
          width: 40%;
          height: 0.1rem;
          background-color: rgba($primary-color-light,0.8);
        }
        &:before {
          top: 50%;
          left: 5%;
        }
        &:after {
          top: 50%;
          right: 5%;
        }
      }
    .loginWith-button {
      background-color: $accent-color-light;
      padding: 1rem;
      border: none;
      border-radius: 1rem;
      color: $primary-color-light;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  .form {
    width: 42rem;
    height: 50rem;
    padding: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    //noinspection SassScssResolvedByNameOnly
    background-color: $secondary-color-light;
    display: flex;
    flex-direction: column;
    color: $primary-color-light;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 1.3rem;
    & > *:not(:last-child) {
      margin-bottom: 2.2rem;
    }
    & > *:nth-child(2) {
      margin-top: 3rem;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;

    & ~ .inline {
      flex-direction: row;
      align-items: baseline;

      & > *:nth-child(1n) {
        margin-right: 1rem;
      }
    }
  }
  button:focus {
    outline: none;
  }
  .link {
    display: flex;
    justify-content: flex-end;
  }
  p {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 0.5rem;
  }
  input {
    background: none;
    border: none;
    border-bottom: 0.1rem solid $primary-color-light;
    margin-top: 0.5rem;
    padding: 0.5rem;
    &:focus {
      outline: none;
    }
  }
  .accent-line {
    border-bottom: 0.2rem solid $accent-color;
  }
  .link {
    .accent-bg {
      border-radius: 2rem;
    }
  }
  .accent-bg {
    border: none;
    background-color: $accent-color-light;
    border-radius: 1rem;

    padding: 0.8rem;
    color: $primary-color-light;
    &.left {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &.right {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    &.active {
      background-color: $accent-color;
    }
  }
  input[type='checkbox'] {
    width: 1.2rem;
    height: 1.2rem;
  }
}
